## Enviroment

In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
import json
import psycopg2

Conexión a la base de datos mediante las credenciales definidas

In [2]:
credentials = "../credentials.json"

with open(credentials) as f:
    creds = json.load(f)
    
DB_USER = creds["user"]
DB_PASSWORD = creds["password"]
DB_HOST = creds["host"]
DB_PORT = creds["port"]
DB_NAME = creds["database"]

df = pd.read_csv("../data/Airbnb_Open_Data.csv", low_memory=False, encoding='ISO-8859-1')
print("Datos del CSV cargados correctamente.")
print(df.head()) 

# Contar el número total de filas en el CSV
total_filas_csv = len(df)
print(f"El archivo CSV tiene un total de {total_filas_csv} filas.")

# Crear Base de Datos
creator_connection_string = f'postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/postgres'
creator_engine = create_engine(creator_connection_string)

with creator_engine.connect() as connection:
    connection.execution_options(isolation_level="AUTOCOMMIT")
    result = connection.execute(
        text(f"SELECT 1 FROM pg_database WHERE datname = '{DB_NAME}'")
    )
    
    if not result.scalar():
        connection.execute(text(f"CREATE DATABASE {DB_NAME}"))
        print(f"Base de datos '{DB_NAME}' creada exitosamente!")
    else:
        print(f"La base de datos '{DB_NAME}' ya existe.")

# Crear conexión a la base de datos ya creada
connection_string = f'postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}'
engine = create_engine(connection_string)

# Crear la tabla en la base de datos y cargar los datos
table_name = "airbnb_data"  # Nombre de la nueva tablan
df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"Tabla '{table_name}' creada y datos cargados en la base de datos '{DB_NAME}'.")

# Verificar los datos en la nueva tabla
with engine.connect() as connection:
    result = connection.execute(text(f"SELECT * FROM {table_name} LIMIT 5;"))
    print(f"Primeros 5 registros de la tabla '{table_name}':")
    for row in result:
        print(row)

Datos del CSV cargados correctamente.
        id                                              NAME      host id  \
0  1001254                Clean & quiet apt home by the park  80014485718
1  1002102                             Skylit Midtown Castle  52335172823
2  1002403               THE VILLAGE OF HARLEM....NEW YORK !  78829239556
3  1002755                                               NaN  85098326012
4  1003689  Entire Apt: Spacious Studio/Loft by central park  92037596077

  host_identity_verified host name neighbourhood group neighbourhood  \
0            unconfirmed  Madaline            Brooklyn    Kensington
1               verified     Jenna           Manhattan       Midtown
2                    NaN     Elise           Manhattan        Harlem
3            unconfirmed     Garry            Brooklyn  Clinton Hill
4               verified    Lyndon           Manhattan   East Harlem

        lat      long        country  ... service fee minimum nights  \
0  40.64749 -73.97237  United States  ...       $193            10.0
1  40.75362 -73.98377  United States  ...        $28            30.0
2  40.80902 -73.94190  United States  ...       $124             3.0
3  40.68514 -73.95976  United States  ...        $74            30.0
4  40.79851 -73.94399  United States  ...        $41            10.0

  number of reviews last review  reviews per month review rate number  \
0               9.0  10/19/2021               0.21                4.0
1              45.0   5/21/2022               0.38                4.0
2               0.0         NaN                NaN                5.0
3             270.0    7/5/2019               4.64                4.0
4               9.0  11/19/2018               0.10                3.0

  calculated host listings count  availability 365  \
0                            6.0             286.0
1                            2.0             228.0
2                            1.0             352.0
3                            1.0             322.0
4                            1.0             289.0

                                         house_rules license
0  Clean up and treat the home the way you'd like...     NaN
1  Pet friendly but please confirm with me if the...     NaN
2  I encourage you to use my kitchen, cooking and...     NaN
3                                                NaN     NaN
4  Please no smoking in the house, porch or on th...     NaN

[5 rows x 26 columns]
El archivo CSV tiene un total de 102599 filas.
La base de datos 'airbnb' ya existe.
Tabla 'airbnb_data' creada y datos cargados en la base de datos 'airbnb'.
Primeros 5 registros de la tabla 'airbnb_data':
(1001254, 'Clean & quiet apt home by the park', 80014485718, 'unconfirmed', 'Madaline', 'Brooklyn', 'Kensington', 40.64749, -73.97237, 'United States', 'US', False, 'strict', 'Private room', 2020.0, '$966 ', '$193 ', 10.0, 9.0, '10/19/2021', 0.21, 4.0, 6.0, 286.0, "Clean up and treat the home the way you'd like your home to be treated.  No smoking.", None)
(1002102, 'Skylit Midtown Castle', 52335172823, 'verified', 'Jenna', 'Manhattan', 'Midtown', 40.75362, -73.98377, 'United States', 'US', False, 'moderate', 'Entire home/apt', 2007.0, '$142 ', '$28 ', 30.0, 45.0, '5/21/2022', 0.38, 4.0, 2.0, 228.0, 'Pet friendly but please confirm with me if the pet you are planning on bringing with you is OK. I have a cute and quiet mixed chihuahua. I could acce ... (105 characters truncated) ... together could sleep in separate beds for an extra fee (the second bed is either a sofa bed or inflatable bed). Smoking is only allowed on the porch.', None)
(1002403, 'THE VILLAGE OF HARLEM....NEW YORK !', 78829239556, None, 'Elise', 'Manhattan', 'Harlem', 40.80902, -73.9419, 'United States', 'US', True, 'flexible', 'Private room', 2005.0, '$620 ', '$124 ', 3.0, 0.0, None, None, 5.0, 1.0, 352.0, "I encourage you to use my kitchen, cooking and laundry facilities. There is no additional charge to use the washer/dryer in the basement.  No smoking ... (76 characters truncated) ... ing drunk, it's OK the first time. If you do it again, and you wake up me or the neighbors downstairs, we will be annoyed.  (Just so you know . . . )", None)
(1002755, None, 85098326012, 'unconfirmed', 'Garry', 'Brooklyn', 'Clinton Hill', 40.68514, -73.95976, 'United States', 'US', True, 'moderate', 'Entire home/apt', 2005.0, '$368 ', '$74 ', 30.0, 270.0, '7/5/2019', 4.64, 4.0, 1.0, 322.0, None, None)
(1003689, 'Entire Apt: Spacious Studio/Loft by central park', 92037596077, 'verified', 'Lyndon', 'Manhattan', 'East Harlem', 40.79851, -73.94399, 'United States', 'US', False, 'moderate', 'Entire home/apt', 2009.0, '$204 ', '$41 ', 10.0, 9.0, '11/19/2018', 0.1, 3.0, 1.0, 289.0, 'Please no smoking in the house, porch or on the property (you can go to the nearby corner).  Reasonable quiet after 10:30 pm.  Please remove shoes in the house.', None)

In [4]:
# Contar el número total de filas en el DataFrame
total_csv_rows = len(df)
print(f"El archivo CSV tiene un total de {total_csv_rows} filas.")

# Verificar el número total de filas en la tabla
with engine.connect() as connection:
    result = connection.execute(text(f"SELECT COUNT(*) FROM {table_name};"))
    total_rows = result.scalar()  # Obtener el valor del conteo
    print(f"La tabla '{table_name}' tiene un total de {total_rows} filas.")

El archivo CSV tiene un total de 102599 filas.
La tabla 'airbnb_data' tiene un total de 102599 filas.

In [5]:
with engine.connect() as connection:
    # Consulta para obtener los primeros 20 registros de la tabla
    query = f"SELECT * FROM {table_name} LIMIT 20;"
    
    # Cargar los datos en un DataFrame de pandas
    df = pd.read_sql(query, connection)
    
    # Mostrar el DataFrame en formato tabular
    print(f"Primeros 20 registros de la tabla '{table_name}':")
    print(df)

Primeros 20 registros de la tabla 'airbnb_data':
         id                                              NAME      host id  \
0   1001254                Clean & quiet apt home by the park  80014485718
1   1002102                             Skylit Midtown Castle  52335172823
2   1002403               THE VILLAGE OF HARLEM....NEW YORK !  78829239556
3   1002755                                              None  85098326012
4   1003689  Entire Apt: Spacious Studio/Loft by central park  92037596077
5   1004098         Large Cozy 1 BR Apartment In Midtown East  45498551794
6   1004650                                   BlissArtsSpace!  61300605564
7   1005202                                   BlissArtsSpace!  90821839709
8   1005754                   Large Furnished Room Near B'way  79384379533
9   1006307                Cozy Clean Guest Room - Family Apt  75527839483
10  1006859                Cute & Cozy Lower East Side 1 bdrm   1280143094
11  1007411                  Beautiful 1br on Upper West Side  18824631834
12  1007964                   Central Manhattan/near Broadway  88136055909
13  1008516    Lovely Room 1, Garden, Best Area, Legal rental  26802410424
14  1033369                                              None  48877238684
15  1009068  Wonderful Guest Bedroom in Manhattan for SINGLES  88920244552
16  1009621                     West Village Nest - Superhost  46551725984
17  1010173                  Only 2 stops to Manhattan studio  62566345680
18  1010725                 Perfect for Your Parents + Garden  80380130347
19  1011277                                   Chelsea Perfect  73862528370

   host_identity_verified host name neighbourhood group       neighbourhood  \
0             unconfirmed  Madaline            Brooklyn          Kensington
1                verified     Jenna           Manhattan             Midtown
2                    None     Elise           Manhattan              Harlem
3             unconfirmed     Garry            Brooklyn        Clinton Hill
4                verified    Lyndon           Manhattan         East Harlem
5                verified  Michelle           Manhattan         Murray Hill
6                    None   Alberta            Brooklyn  Bedford-Stuyvesant
7             unconfirmed      Emma            Brooklyn  Bedford-Stuyvesant
8                verified    Evelyn           Manhattan      Hell's Kitchen
9             unconfirmed      Carl           Manhattan     Upper West Side
10               verified   Miranda           Manhattan           Chinatown
11               verified      Alan           Manhattan     Upper West Side
12               verified      None           Manhattan      Hell's Kitchen
13               verified     Darcy             brookln         South Slope
14                   None    Sophia           Manhattan      Hell's Kitchen
15               verified  Leonardo           Manhattan     Upper West Side
16               verified    Daniel           Manhattan        West Village
17            unconfirmed   Heather            Brooklyn        Williamsburg
18               verified      Ryan            Brooklyn         Fort Greene
19               verified   Alberta            manhatan             Chelsea

         lat      long        country  ... service fee minimum nights  \
0   40.64749 -73.97237  United States  ...       $193            10.0
1   40.75362 -73.98377  United States  ...        $28            30.0
2   40.80902 -73.94190  United States  ...       $124             3.0
3   40.68514 -73.95976  United States  ...        $74            30.0
4   40.79851 -73.94399  United States  ...        $41            10.0
5   40.74767 -73.97500  United States  ...       $115             3.0
6   40.68688 -73.95596  United States  ...        $14            45.0
7   40.68688 -73.95596  United States  ...       $212            45.0
8   40.76489 -73.98493  United States  ...       $204             2.0
9   40.80178 -73.96723  United States  ...        $58             2.0
10  40.71344 -73.99037  United States  ...        $64             1.0
11  40.80316 -73.96545  United States  ...       $121             5.0
12  40.76076 -73.98867  United States  ...       $143             2.0
13  40.66829 -73.98779  United States  ...       $116             4.0
14  40.75531 -73.99293  United States  ...       $132             2.0
15  40.79826 -73.96113  United States  ...        $30             2.0
16  40.73530 -74.00525  United States  ...        None           90.0
17  40.70837 -73.95352  United States  ...        None            2.0
18  40.69169 -73.97185  United States  ...        None            2.0
19  40.74192 -73.99501  United States  ...        None            1.0

   number of reviews last review  reviews per month review rate number  \
0                9.0  10/19/2021               0.21                4.0
1               45.0   5/21/2022               0.38                4.0
2                0.0        None                NaN                5.0
3              270.0    7/5/2019               4.64                4.0
4                9.0  11/19/2018               0.10                3.0
5               74.0   6/22/2019               0.59                3.0
6               49.0   10/5/2017               0.40                5.0
7               49.0   10/5/2017               0.40                5.0
8              430.0   6/24/2019               3.47                3.0
9              118.0   7/21/2017               0.99                5.0
10             160.0    6/9/2019               1.33                3.0
11              53.0   6/22/2019               0.43                4.0
12             188.0   6/23/2019               1.50                4.0
13             167.0   6/24/2019               1.34                4.0
14             289.0    6/9/2019               2.49                3.0
15             113.0    7/5/2019               0.91                3.0
16              27.0  10/31/2018               0.22                3.0
17             148.0   6/29/2019               1.20                3.0
18             198.0   6/28/2019               1.72                5.0
19             260.0    7/1/2019               2.12                3.0

   calculated host listings count  availability 365  \
0                             6.0             286.0
1                             2.0             228.0
2                             1.0             352.0
3                             1.0             322.0
4                             1.0             289.0
5                             1.0             374.0
6                             1.0             224.0
7                             1.0             219.0
8                             1.0             180.0
9                             1.0             375.0
10                            4.0               1.0
11                            1.0             163.0
12                            1.0             258.0
13                            3.0              47.0
14                            2.0               NaN
15                            1.0              68.0
16                            1.0             100.0
17                            1.0             197.0
18                            1.0              96.0
19                            1.0             325.0

                                          house_rules license
0   Clean up and treat the home the way you'd like...    None
1   Pet friendly but please confirm with me if the...    None
2   I encourage you to use my kitchen, cooking and...    None
3                                                None    None
4   Please no smoking in the house, porch or on th...    None
5                   No smoking, please, and no drugs.    None
6   Please no shoes in the house so bring slippers...    None
7   House Guidelines for our BnB We are delighted ...    None
8   - Please clean up after yourself when using th...    None
9   NO SMOKING OR PETS ANYWHERE ON THE PROPERTY 1....    None
10                                               None    None
11  My ideal guests would be warm, friendly, and r...    None
12  - One of the bedroom closets is not accessible...    None
13                                               None    None
14                                               None    None
15                                               None    None
16  Arrival time can be no later than 9:00PM unles...    None
17  Absolutely no smoking in the building, handlin...    None
18  - Please be mindful of the neighbors, quiet ti...    None
19                                               None    None

[20 rows x 26 columns]

In [6]:
# Cargar el dataset
df = pd.read_csv("../data/Airbnb_Open_Data.csv", low_memory=False, encoding='ISO-8859-1')

# Revisión inicial
print(f"Filas: {df.shape[0]}, Columnas: {df.shape[1]}")
print(df.info())  # Tipos de datos y valores no nulos
print(df.isnull().sum())  # Conteo de valores nulos por columna

Filas: 102599, Columnas: 26
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB
None
id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64