### Enviroment

In [3]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import json

### Crear conexion a la BD postgres

In [7]:
cred_path = "../credentials.json"
with open(cred_path, "r") as file:
    creds = json.load(file)

conn = psycopg2.connect(
    host=creds["host"],
    database=creds["database"],
    user=creds["user"],
    password=creds["password"],
    port=creds["port"]
)

engine = create_engine(f'postgresql://{creds["user"]}:{creds["password"]}@{creds["host"]}:{creds["port"]}/{creds["database"]}')

In [14]:
query = "SELECT COUNT(*) FROM public.airbnb_data"
count = pd.read_sql(query, conn)
print(count)

    count
0  102599

C:\Users\Administrador\AppData\Local\Temp\ipykernel_5404\1049879249.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  count = pd.read_sql(query, conn)

In [13]:
df = pd.read_sql("SELECT * FROM airbnb_data", conn)

df.head() 
#df.info()
#df.describe()
#df.isnull().sum()

C:\Users\Administrador\AppData\Local\Temp\ipykernel_5404\2075805873.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM airbnb_data", conn)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,None
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,None
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,None,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,None,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",None
3,1002755,None,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,None,None
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",None

In [ ]:
# FunciÃ³n para identificar valores no ASCII
def reemplazar_no_ascii(valor):
    if isinstance(valor, str) and not valor.isascii():
        return "999999"
    return valor

# FunciÃ³n para limpiar caracteres especiales en texto
def limpiar_texto(texto):
    if isinstance(texto, str) and not re.match(r'^[A-Za-z0-9 .,!?]+$', texto):
        return "999999"
    return texto

# FunciÃ³n para validar datos numÃ©ricos
def validar_numericos(valor):
    try:
        num = float(valor)
        if num < 0 or num > 99999999:  # Puedes ajustar este umbral segÃºn el caso
            return 999999
    except ValueError:
        return 999999  # Si no es un nÃºmero, lo marcamos como inconsistente
    return num

# Aplicar validaciones en todas las columnas segÃºn su tipo
for col in df.columns:
    if df[col].dtype == "object":  # Columnas de texto
        df[col] = df[col].map(reemplazar_no_ascii)
        df[col] = df[col].map(limpiar_texto)
    else:  # Columnas numÃ©ricas
        df[col] = df[col].map(validar_numericos)

# Reemplazar NaN e infinitos con 999999
df = df.fillna(999999)
df.replace([float('inf'), float('-inf')], 999999, inplace=True)

# Mostrar primeras filas
print(df.head())

In [ ]:
eliminar duplicados, conversion fde datos, manejo de valores atipicos, nirmalizacion numerica