In [33]:
!pip install pandas sqlalchemy psycopg2 matplotlib seaborn

Requirement already satisfied: pandas in c:\program files\python311\lib\site-packages (2.1.2)
Requirement already satisfied: sqlalchemy in c:\program files\python311\lib\site-packages (2.0.38)
Requirement already satisfied: psycopg2 in c:\program files\python311\lib\site-packages (2.9.10)
Requirement already satisfied: matplotlib in c:\program files\python311\lib\site-packages (3.8.1)
Requirement already satisfied: seaborn in c:\program files\python311\lib\site-packages (0.13.2)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\program files\python311\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\program files\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\program files\python311\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\program files\python311\lib\site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\program files\python311\lib\site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\program files\python311\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\program files\python311\lib\site-packages (from matplotlib) (4.43.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\program files\python311\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\program files\python311\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\program files\python311\lib\site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\program files\python311\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: six>=1.5 in c:\program files\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

DEPRECATION: Loading egg at c:\program files\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 25.1 will enforce this behaviour change. A possible replacement is to use pip for package installation. Discussion can be found at https://github.com/pypa/pip/issues/12330

### Enviroment

In [34]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine, text
import json

### Crear conexion a la BD postgres

In [35]:
credentials = "../credentials.json"

with open(credentials) as f:
    creds = json.load(f)

conn = psycopg2.connect(    
    host=creds["host"],
    database=creds["database"],
    user=creds["user"],
    password=creds["password"],
    port=creds["port"]
)

engine = create_engine(f'postgresql://{creds["user"]}:{creds["password"]}@{creds["host"]}:{creds["port"]}/{creds["database"]}')

In [36]:
df = pd.read_csv("../data/Airbnb_Open_Data.csv", low_memory=False, encoding='ISO-8859-1')

try:
    with engine.connect() as connection:
        connection.execute(text("DROP TABLE IF EXISTS airbnb_EDA;"))
        table_name = "airbnb_EDA"  
        df.to_sql(table_name, engine, if_exists='replace', index=False)
        print(f"Tabla '{table_name}' creada y datos cargados en la base de datos '{creds['database']}'.")

        
        connection.execute(text("""
            CREATE TABLE airbnb_EDA 
            AS 
            SELECT * FROM airbnb_data;
        """))
        
      
        result = connection.execute(text("""
            SELECT COUNT(*) 
            FROM information_schema.tables 
            WHERE table_name = 'airbnb_EDA';
        """))
        
        if result.scalar() == 1:
            print("Tabla airbnb_EDA creada exitosamente!")
            
           
            count_original = connection.execute(text("SELECT COUNT(*) FROM airbnb_data;")).scalar()
            count_copy = connection.execute(text("SELECT COUNT(*) FROM airbnb_EDA;")).scalar()
            
            print(f"\nRegistros en tabla original: {count_original}")
            print(f"Registros en tabla copia: {count_copy}")
            
     
            sample = pd.read_sql("SELECT * FROM airbnb_EDA LIMIT 5;", connection)
            print("\nMuestra de la nueva tabla:")
            print(sample)
            
        else:
            print("Error: No se pudo crear la tabla")

except Exception as e:
    print(f"Error durante la creación de la tabla: {str(e)}")

Tabla 'airbnb_EDA' creada y datos cargados en la base de datos 'airbnb'.
Tabla airbnb_EDA creada exitosamente!

Registros en tabla original: 102599
Registros en tabla copia: 102599

Muestra de la nueva tabla:
        id                                              NAME      host id  \
0  1001254                Clean & quiet apt home by the park  80014485718
1  1002102                             Skylit Midtown Castle  52335172823
2  1002403               THE VILLAGE OF HARLEM....NEW YORK !  78829239556
3  1002755                                              None  85098326012
4  1003689  Entire Apt: Spacious Studio/Loft by central park  92037596077

  host_identity_verified host name neighbourhood group neighbourhood  \
0            unconfirmed  Madaline            Brooklyn    Kensington
1               verified     Jenna           Manhattan       Midtown
2                   None     Elise           Manhattan        Harlem
3            unconfirmed     Garry            Brooklyn  Clinton Hill
4               verified    Lyndon           Manhattan   East Harlem

        lat      long        country  ... service fee  minimum nights  \
0  40.64749 -73.97237  United States  ...       $193             10.0
1  40.75362 -73.98377  United States  ...        $28             30.0
2  40.80902 -73.94190  United States  ...       $124              3.0
3  40.68514 -73.95976  United States  ...        $74             30.0
4  40.79851 -73.94399  United States  ...        $41             10.0

  number of reviews last review  reviews per month review rate number  \
0               9.0  10/19/2021               0.21                4.0
1              45.0   5/21/2022               0.38                4.0
2               0.0        None                NaN                5.0
3             270.0    7/5/2019               4.64                4.0
4               9.0  11/19/2018               0.10                3.0

  calculated host listings count  availability 365  \
0                            6.0             286.0
1                            2.0             228.0
2                            1.0             352.0
3                            1.0             322.0
4                            1.0             289.0

                                         house_rules license
0  Clean up and treat the home the way you'd like...    None
1  Pet friendly but please confirm with me if the...    None
2  I encourage you to use my kitchen, cooking and...    None
3                                               None    None
4  Please no smoking in the house, porch or on th...    None

[5 rows x 26 columns]

In [37]:
def rename_columns_with_spaces():
    engine = create_engine(f'postgresql://{creds["user"]}:{creds["password"]}@{creds["host"]}:{creds["port"]}/{creds["database"]}')
    
    with engine.connect() as connection:
        query = text("""
            SELECT column_name 
            FROM information_schema.columns 
            WHERE table_name = 'airbnb_EDA' 
            AND column_name LIKE '% %'
        """)
        result = connection.execute(query)
        columns_to_rename = [row[0] for row in result]
        
        if not columns_to_rename:
            print("No hay columnas con espacios para renombrar")
            return

        # Generar y ejecutar sentencias ALTER TABLE
        for old_name in columns_to_rename:
            new_name = old_name.replace(' ', '_')
            alter_query = text(f"""
                ALTER TABLE public."airbnb_EDA"
                RENAME COLUMN "{old_name}" TO {new_name}
            """)
            
            try:
                connection.execute(alter_query)
                print(f"Renombrada: '{old_name}' -> '{new_name}'")
                connection.commit()
            except Exception as e:
                print(f"Error renombrando {old_name}: {str(e)}")
                connection.rollback()

if __name__ == "__main__":
    rename_columns_with_spaces()

    query = "SELECT column_name FROM information_schema.columns WHERE table_name = 'airbnb_EDA'"
    df = pd.read_sql(query, conn)
    df.head()

Renombrada: 'availability 365' -> 'availability_365'
Renombrada: 'minimum nights' -> 'minimum_nights'
Renombrada: 'number of reviews' -> 'number_of_reviews'
Renombrada: 'reviews per month' -> 'reviews_per_month'
Renombrada: 'review rate number' -> 'review_rate_number'
Renombrada: 'calculated host listings count' -> 'calculated_host_listings_count'
Renombrada: 'host id' -> 'host_id'
Renombrada: 'Construction year' -> 'Construction_year'
Renombrada: 'host name' -> 'host_name'
Renombrada: 'neighbourhood group' -> 'neighbourhood_group'
Renombrada: 'country code' -> 'country_code'
Renombrada: 'room type' -> 'room_type'
Renombrada: 'last review' -> 'last_review'
Renombrada: 'service fee' -> 'service_fee'

C:\Users\Administrador\AppData\Local\Temp\ipykernel_8840\3648947976.py:38: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [38]:
query = text("""
ALTER TABLE public."airbnb_EDA"
DROP COLUMN IF EXISTS host_name,
DROP COLUMN IF EXISTS country_code,
DROP COLUMN IF EXISTS country,
DROP COLUMN IF EXISTS neighbourhood,
DROP COLUMN IF EXISTS house_rules;
""")
with engine.connect() as connection:
    connection.execute(query)
    connection.commit()

In [39]:
#limpiar valores nullos (null) por fecha 01/01/1900 y cambiar las fechas a int AAADDMM  20240106
def execute_sql_transformations():
    with engine.connect() as connection:
        try:

            query1 = text("""
                ALTER TABLE public."airbnb_EDA" 
                ALTER COLUMN last_review TYPE TEXT 
                USING last_review::TEXT;
            """)
            connection.execute(query1)
            connection.commit()
            
            query2 = text("""
                -- Crear columna temporal para fechas
                ALTER TABLE public."airbnb_EDA" ADD COLUMN temp_last_review DATE;
            """)
            connection.execute(query2)
            connection.commit()
            
            query3 = text("""
                -- Conversión segura con múltiples formatos
                UPDATE public."airbnb_EDA" 
                SET temp_last_review = 
                    CASE
                        WHEN last_review ~ '^\d{2}/\d{2}/\d{4}$' THEN TO_DATE(last_review, 'MM/DD/YYYY')
                        WHEN last_review ~ '^\d{4}-\d{2}-\d{2}$' THEN TO_DATE(last_review, 'YYYY-MM-DD')
                        ELSE NULL 
                    END;
            """)
            connection.execute(query3)
            connection.commit()
            
            query4 = text("""    
                -- Eliminar columna original y renombrar
                ALTER TABLE public."airbnb_EDA" DROP COLUMN last_review;
            """)
            connection.execute(query4)
            connection.commit()
            
            query5 = text("""
                ALTER TABLE public."airbnb_EDA" RENAME COLUMN temp_last_review TO last_review;
            """)
            connection.execute(query5)
            connection.commit()
            
            query5 = text("""
                ALTER TABLE public."airbnb_EDA" 
                ALTER COLUMN last_review TYPE INTEGER 
                USING (
                    CASE 
                        WHEN last_review IS NULL THEN 99999999
                        ELSE EXTRACT(YEAR FROM last_review) * 10000 +
                            EXTRACT(MONTH FROM last_review) * 100 +
                            EXTRACT(DAY FROM last_review)
                    END
                );
            """)
            connection.execute(query5)
            connection.commit()
            
            text_columns_query = text("""
                SELECT column_name 
                FROM information_schema.columns 
                WHERE table_name = 'airbnb_EDA' 
                AND data_type = 'text'
            """)
            
            text_cols = [row[0] for row in connection.execute(text_columns_query)]
            print(f"probar -> {text_cols}")
            
            for col in text_cols:
                update_text = text(f"""
                    UPDATE public."airbnb_EDA"
                    SET "{col}" = COALESCE("{col}", 'not fill')
                    WHERE "{col}" IS NULL;
                """)
                connection.execute(update_text)
                connection.commit()
            
            numeric_columns_query = text("""
                SELECT column_name 
                FROM information_schema.columns 
                WHERE table_name = 'airbnb_EDA' 
                AND data_type IN ('integer', 'bigint', 'double precision', 'numeric')
                AND column_name != 'last_review'
            """)
            
            numeric_cols = [row[0] for row in connection.execute(numeric_columns_query)]
            
            for col in numeric_cols:
                update_num = text(f"""
                    UPDATE public."airbnb_EDA"
                    SET "{col}" = COALESCE({col}, -1)
                    WHERE "{col}" IS NULL;
                """)
                connection.execute(update_num)
                connection.commit()
            
            print("Manejo de nulos completado exitosamente!")
        
        except Exception as e:
            print(f"Error durante las transformaciones: {str(e)}")
            connection.rollback()
            raise

if __name__ == "__main__":
    execute_sql_transformations()

probar -> ['NAME', 'host_identity_verified', 'neighbourhood_group', 'cancellation_policy', 'room_type', 'price', 'service_fee', 'license']
Manejo de nulos completado exitosamente!

In [40]:
query = 'SELECT * FROM public."airbnb_EDA";'
df = pd.read_sql(query, conn)
df.head()

query = 'SELECT COUNT(*) FROM public."airbnb_EDA"'

with engine.connect() as connection:
    count = pd.read_sql(query, connection)

print(count)

with engine.connect() as connection:
    df = pd.read_sql('SELECT * FROM public."airbnb_EDA"', connection)

df.head()
#df.info()  
#df.describe()
#df.isnull().sum()

C:\Users\Administrador\AppData\Local\Temp\ipykernel_8840\4113063339.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

    count
0  102599

,id,NAME,host_id,host_identity_verified,neighbourhood_group,lat,long,instant_bookable,cancellation_policy,room_type,...,price,service_fee,minimum_nights,number_of_reviews,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,license,last_review
0,1399544,City Skyline Views from every room!,8120491427,verified,Queens,40.74558,-73.92324,True,moderate,Private room,...,$367,$73,2.0,95.0,1.02,5.0,2.0,387.0,not fill,99999999
1,1417770,Tranquil in the heart of Brooklyn 1,64034925261,unconfirmed,Brooklyn,40.68650,-73.95372,True,flexible,Private room,...,$627,$125,5.0,45.0,0.52,2.0,2.0,105.0,not fill,99999999
2,4358215,1 BR in Gramercy Park,11415888221,verified,Manhattan,40.73577,-73.98455,False,flexible,Entire home/apt,...,$230,$46,1.0,0.0,-1.00,5.0,1.0,390.0,not fill,99999999
3,6546428,Manhattan/ private room & private toilet.,43636972857,unconfirmed,Manhattan,40.71912,-73.99776,True,flexible,Private room,...,$409,$82,2.0,6.0,0.13,5.0,1.0,131.0,not fill,99999999
4,14098578,Bright and Spacious Summer Stay,95964122338,unconfirmed,Manhattan,40.82321,-73.95662,True,strict,Private room,...,$800,$160,2.0,0.0,-1.00,2.0,1.0,0.0,not fill,99999999

In [41]:
with engine.begin() as connection:
    connection.execute(text("""
        UPDATE public."airbnb_EDA"
        SET neighbourhood_group = CASE 
            WHEN neighbourhood_group = 'brookln' THEN 'Brooklyn'
            WHEN neighbourhood_group = 'manhatan' THEN 'Manhattan'
            ELSE neighbourhood_group
        END
        WHERE neighbourhood_group IN ('brookln', 'manhatan');
    """))
    
print("Datos actualizados correctamente en la columna 'neighbourhood_group'.")

Datos actualizados correctamente en la columna 'neighbourhood_group'.

In [42]:
df = pd.read_sql('SELECT DISTINCT neighbourhood_group FROM public."airbnb_EDA"', engine)
df

  neighbourhood_group
0            not fill
1            Brooklyn
2               Bronx
3           Manhattan
4              Queens
5       Staten Island